---
export const prerender = true;
import BackgroundImage from "../../components/cosmetic/BackgroundImage.astro";
import Constrict from "../../components/blocks/Constrict.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout pageTitle="Santai.GG | Player Leaderboard">
  <main>
    <BackgroundImage imagePath="/src/assets/background-01.png" altText="Spectre Divide - players clearing site." class="brightness-110" />

    <Constrict class="mt-large mx-large gap-base">
      <h1 class="text-6xl text-light-2 font-dharmagothic text-center">We are currently performing maintenance. Please check back later.</h1>
    </Constrict>
  </main>
</Layout>
