---
import aboutSantaiGG from "../../data/aboutSantaigg.json";
import DeveloperCredits from "../information/DeveloperCredits.astro";
import Logo from "./Logo.astro";

interface Props {
	hidden?: boolean;
}

const { hidden = false } = Astro.props;
---

{
    !hidden &&
    <div class="mt-40"></div>
    <footer class="flex flex-col md:flex-row gap-large mt-auto mx-auto p-base text-xs text-gray-500">
      <div class="flex flex-col text-nowrap text-center md:text-left">
        <a class="mb-base font-bold hover:underline" href={aboutSantaiGG.discord} target="_blank" rel="noopener">Join The Discord</a>
        <a class="mb-base font-bold hover:underline" href={aboutSantaiGG.github} target="_blank" rel="noopener">Contribute to Santai.GG</a>
        <a class="mb-base font-bold hover:underline" href={aboutSantaiGG.wavescanDocs} target="_blank" rel="noopener">Wavescan API Docs</a>
      </div>
      <div class="flex flex-col text-center md:text-left">
        <DeveloperCredits class="mb-base" />
        {aboutSantaiGG.affiliateNotice}
      </div>
    </footer>
}