---
import Logo from "./Logo.astro";

interface Props {
	hidden?: boolean;
  noticeBanner?: string;
}

const { hidden = false, noticeBanner } = Astro.props;
---

{
    !hidden &&
    <div class="mb-16"></div>
    <div class="fixed top-0 z-50 w-full">
      <div>
        {noticeBanner}
      </div>
      <div class="p-base">
        <Logo class='w-24 md:w-32' />
      </div>
    </div>
}

<!-- outline outline-4 outline-offset-4 outline-accent -->