---
import Layout from "../layouts/Layout.astro";
import PlayerSearchBar from "../components/navigation/PlayerSearchBar.svelte";
import Card from "../components/information/Card.astro";
import aboutSantaiGG from "../data/aboutSantaigg.json";
import BackgroundImage from "../components/cosmetic/BackgroundImage.astro";
import Logo from "../components/navigation/Logo.astro";
---

<Layout pageTitle="Santai.GG">
  <main>
    <BackgroundImage imagePath="/src/assets/background-00.png" altText="Spectre Divide - spectators cheering." />

    <div class="flex h-[70lvh] mx-large">
      <div class="flex flex-col w-full max-w-screen-sm m-auto gap-large">
        <PlayerSearchBar client:load className="max-w-96 my-auto rounded-tl-large bg-light-1" />
      </div>
    </div>
  </main>
</Layout>
