TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:3000/callback

DATABASE_URL=
DISCORD_WEBHOOK_URL=

# grab tokens from https://twitchtokengenerator.com/
TWITCH_BOT_USERNAME=  # Add your bot's username here
TWITCH_BOT_TOKEN=  # Your current OAuth token
TWITCH_BOT_REFRESH_TOKEN=  # Your current refresh token :3
