---
import Layout from "../layouts/Layout.astro";
import PlayerSearchBar from "../components/navigation/PlayerSearchBar.svelte";
import Card from "../components/information/Card.astro";
import aboutSantaiGG from "../data/aboutSantaigg.json";
import BackgroundImage from "../components/cosmetic/BackgroundImage.astro";
import Logo from "../components/navigation/Logo.astro";
---

<Layout pageTitle="Santai.GG" hiddenNavbar>
  <main>
    <BackgroundImage imagePath="/src/assets/background-00.png" altText="Spectre Divide - spectators cheering." />

    <div class="flex h-[70lvh] mx-large">
      <div class="flex flex-col w-full max-w-screen-sm m-auto gap-large">
        <Logo class="mx-auto" />

        <!-- Search Bar -->
        <div class="flex flex-row w-full gap-base">
          <Card href="/players" class="h-full py-0 px-base md:px-large hover:-translate-x-1">
              <svg class="w-9 stroke-light-0 stroke-1 group-hover/card:stroke-dark-0 group-hover/card:stroke-[1.5] duration-quick" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 19H9V12.5V8.6C9 8.26863 9.26863 8 9.6 8H14.4C14.7314 8 15 8.26863 15 8.6V14.5V19Z"></path>
                <path d="M20.4 19H15V15.1C15 14.7686 15.2686 14.5 15.6 14.5H20.4C20.7314 14.5 21 14.7686 21 15.1V18.4C21 18.7314 20.7314 19 20.4 19Z"></path>
                <path d="M9 19V13.1C9 12.7686 8.73137 12.5 8.4 12.5H3.6C3.26863 12.5 3 12.7686 3 13.1V18.4C3 18.7314 3.26863 19 3.6 19H9Z"></path>
              </svg>
          </Card>
          <PlayerSearchBar client:load className="my-auto rounded-tl-large bg-light-1" />
        </div>

        <div class="flex gap-5 justify-center">
          <!-- Discord Button -->
          <div class="flex">
            <Card href={aboutSantaiGG.discord} class="flex items-center justify-center gap-2 py-base hover:-translate-y-1 w-fit relative group/discord">
              <div class="absolute -top-2 -right-2 bg-accent text-dark-0 px-2 py-0.5 rounded-full text-xs font-bold group-hover/discord:bg-dark-0 group-hover/discord:text-accent transition-colors duration-quick">
                NEW
              </div>
              <svg class="w-6 h-6 fill-light-0 group-hover/card:fill-dark-0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515a.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0a12.64 12.64 0 0 0-.617-1.25a.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057a19.9 19.9 0 0 0 5.993 3.03a.078.078 0 0 0 .084-.028a14.09 14.09 0 0 0 1.226-1.994a.076.076 0 0 0-.041-.106a13.107 13.107 0 0 1-1.872-.892a.077.077 0 0 1-.008-.128a10.2 10.2 0 0 0 .372-.292a.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127a12.299 12.299 0 0 1-1.873.892a.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028a19.839 19.839 0 0 0 6.002-3.03a.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03zM8.02 15.33c-1.183 0-2.157-1.085-2.157-2.419c0-1.333.956-2.419 2.157-2.419c1.21 0 2.176 1.096 2.157 2.42c0 1.333-.956 2.418-2.157 2.418zm7.975 0c-1.183 0-2.157-1.085-2.157-2.419c0-1.333.955-2.419 2.157-2.419c1.21 0 2.176 1.096 2.157 2.42c0 1.333-.946 2.418-2.157 2.418z"/>
              </svg>
              <span class="font-dharmagothic text-light-0 group-hover/card:text-dark-0">Join our Discord</span>
            </Card>
          </div>

          <!-- Github Button -->
          <div class="flex">
            <Card href={aboutSantaiGG.github} class="flex items-center justify-center gap-2 py-base hover:-translate-y-1 w-fit relative group/github">
              <div class="absolute -top-2 -right-2 bg-accent text-dark-0 px-2 py-0.5 rounded-full text-xs font-bold group-hover/github:bg-dark-0 group-hover/github:text-accent transition-colors duration-quick">
                NEW
              </div>
              <svg class="w-6 h-6 fill-light-0 group-hover/card:fill-dark-0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0C5.374 0 0 5.373 0 12c0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23A11.509 11.509 0 0112 5.803c1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576C20.566 21.797 24 17.3 24 12c0-6.627-5.373-12-12-12z"/>
              </svg>
              <span class="font-dharmagothic text-light-0 group-hover/card:text-dark-0">Github</span>
            </Card>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
