@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 240 10% 10%;
    --primary-foreground: 240 10 80%;

    --secondary: 240 8% 12%;
    --secondary-foreground: 240 3% 95%;

    --accent: 73 97 50%;
    --accent-foreground: 0 0 0%;

    --muted: 240 4% 20%;
    --muted-foreground: 240 0% 30%;

    --table: 230 13% 9%;
    --table-secondary: 250 10% 11%;
    --table-header: 228 5% 17%;

    --input: 240 16% 8%;
    --input-foreground: 240 5% 70%;

    --spacing: 1rem;
    --rounding: 0.25rem;

    --constrict-threshold: 1200px;
  }
}
